@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer utilities {
  #sticky-banner {
    @apply transition-all duration-300;
  }
  .tab {
    @apply flex justify-between items-center gap-x-4;
  }
  .tab-option {
    @apply font-semibold text-gray-100 opacity-30 text-sm md:text-base transition-all duration-300 cursor-pointer;
  }
  .active {
    @apply text-[#FFD423] opacity-100;
  }
  .disp {
    opacity: 0;
    z-index: -1;
  }
  .disp-on {
    display: block;
  }
  .bg-overlay {
    @apply bg-gradient-to-b from-[#E1C659] to-[#BC6100];
  }
  .bg-overlay-content {
    @apply bg-gradient-to-b from-[#9F5200] from-30% to-[#331A00] bg-no-repeat z-10 p-5 transition-all duration-500 fixed w-full h-full overflow-hidden block -translate-y-full;
  }
  .bg-overlay-detail {
    @apply bg-gradient-to-b from-[#9F5200] from-30% to-[#331A00] bg-no-repeat z-10 p-5 transition-all duration-500 fixed w-full h-full overflow-hidden block translate-y-full;
  }
  .bg-overlay-update {
    @apply bg-gradient-to-b from-[#9F5200] from-30% to-[#331A00] bg-no-repeat z-10 p-5 transition-all duration-500 fixed w-full h-full overflow-hidden block translate-x-full;
  }
  .bg-body {
    @apply bg-gradient-to-b from-[#562D00] from-30% to-[#FF8400] bg-no-repeat;
  }
  .btn-hover {
    @apply cursor-pointer transition-all duration-500 hover:scale-90;
  }
  .hover-95 {
    @apply hover:scale-95;
  }
  .hover-btn-ring {
    @apply hover:ring-[#FF8400] hover:ring-2 hover:bg-orange-100 transition-all duration-300 rounded-lg;
  }
  .active-btn-ring {
    @apply active:ring-[#FF8400] active:ring-2 active:bg-orange-100 transition-all duration-300 rounded-lg;
  }
}

@layer components {
  .overlay {
    @apply flex flex-1 flex-wrap justify-center items-center z-10 p-5 transition-all duration-500 fixed w-full h-full overflow-hidden;
  }
  .btn-continue {
    @apply bg-gradient-to-r from-[#F8D02D] to-[#FF8400] px-6 py-2 mt-5 flex gap-2 rounded-full items-center;
  }
  .btn-add {
    @apply bg-slate-50 py-2 pl-5 pr-3 rounded-full flex items-center gap-2 w-max h-max;
  }
  .badge {
    @apply font-semibold text-sm lg:text-base px-4 py-1 lg:py-2 bg-[#FFD423] text-[#562D00] rounded-full w-max h-max leading-none;
  }
  .card-place {
    @apply rounded-lg max-h-[450px] col-span-2 flex flex-col md:flex-row md:flex-wrap gap-4 w-full overflow-y-auto overflow-x-hidden md:rounded-xl bg-slate-50 shadow-lg p-6;
  }
  .card {
    @apply rounded-xl p-3 pb-5 grid grid-cols-2 items-center bg-slate-50 min-w-[230px] max-w-[336px] lg:w-full gap-[-8px] md:flex-grow md:flex-shrink md:basis-[300px] h-max;
  }
  .time-badge {
    @apply text-sm font-medium max-w-[85%] rounded-s-md rounded-b-lg px-3 bg-[#F8D02D];
  }
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body::-webkit-scrollbar-track {
  display: none; /* hidden track scrollbar */
}

body::-webkit-scrollbar-thumb {
  display: none; /* hidden thumb scrollbar */
}
