@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer utilities {
  #sticky-banner {
    @apply transition-all duration-300;
  }
  .tab {
    @apply flex justify-between items-center gap-x-4;
  }
  .tab-option {
    @apply font-semibold text-gray-100 opacity-80 text-sm md:text-base transition-all duration-300 cursor-pointer border-b-2 border-transparent pb-1 hover:border-gray-100;
  }
  .active {
    @apply text-[#f8d641] opacity-100 border-b-2 border-[#fce16b];
  }
  .disp {
    opacity: 0;
    z-index: -1;
  }
  .disp-on {
    display: block;
  }
  .bg-overlay {
    @apply bg-gradient-to-b from-[#68D2E8] to-[#005769];
  }
  .bg-overlay-content {
    @apply bg-gradient-to-b from-[#03AED2] from-30% to-[#FDDE55] bg-no-repeat z-10 p-5 transition-all duration-500 fixed w-full h-full overflow-hidden block -translate-y-full;
  }
  .bg-overlay-detail {
    @apply bg-gradient-to-b from-[#03AED2] from-30% to-[#FDDE55] bg-no-repeat z-10 p-5 transition-all duration-500 fixed w-full h-full overflow-hidden block translate-y-full;
  }
  .bg-overlay-update {
    @apply bg-gradient-to-b from-[#03AED2] from-30% to-[#FDDE55] bg-no-repeat z-10 p-5 transition-all duration-500 fixed w-full h-full overflow-hidden block translate-x-full;
  }
  .onboarding {
    @apply bg-[#FDDE55] flex items-center justify-center z-20 transition-all duration-500 fixed w-screen h-screen overflow-hidden;
  }
  .bg-body {
    @apply bg-gradient-to-b from-[#03AED2] from-30% to-[#FDDE55] bg-no-repeat;
  }
  .btn-hover {
    @apply cursor-pointer transition-all duration-500 hover:scale-90;
  }
  .hover-95 {
    @apply hover:scale-95;
  }
  .hover-btn-ring {
    @apply hover:ring-[#FF8400] hover:ring-2 hover:bg-orange-100 transition-all duration-300 rounded-lg;
  }
  .active-btn-ring {
    @apply active:ring-[#FF8400] active:ring-2 active:bg-orange-100 transition-all duration-300 rounded-lg;
  }
}

@layer components {
  .sticky-alert-banner {
    @apply fixed z-[9] hidden md:flex-row flex-nowrap justify-between w-[calc(100%-2rem)] p-4 -translate-x-1/2 bg-white border border-green-100 rounded-lg shadow-sm lg:max-w-7xl left-1/2 top-6;
  }
  .overlay {
    @apply flex flex-1 flex-wrap justify-center items-center z-10 p-5 transition-all duration-500 fixed w-full h-full overflow-hidden;
  }
  .btn-continue {
    @apply bg-gradient-to-r from-[#F8D02D] to-[#FF8400] px-6 py-2 mt-5 flex gap-2 rounded-full items-center;
  }
  .btn-add {
    @apply bg-slate-50 py-2 pl-5 pr-3 rounded-full flex items-center gap-2 w-max h-max;
  }
  .num-of-task {
    @apply font-semibold text-sm lg:text-base px-4 py-1 text-[#562D00] leading-none;
  }
  .card-place {
    @apply rounded-lg max-h-[450px] col-span-2 flex flex-col md:flex-row md:flex-wrap gap-4 w-full overflow-y-auto overflow-x-hidden md:rounded-xl bg-slate-50 shadow-lg p-6;
  }
  .card {
    @apply rounded-xl p-3 pb-8 grid grid-cols-2 items-center bg-slate-50 min-w-[230px] max-w-[336px] lg:w-full gap-[-8px] md:flex-grow md:flex-shrink md:basis-[300px] h-max;
  }
  .time-badge {
    @apply text-sm font-medium max-w-[85%] rounded-s-md rounded-b-lg px-3 bg-[#F8D02D];
  }
  .popover {
    @apply absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800;
  }
  .close-btn {
    @apply flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-green-400 hover:bg-green-200 hover:text-green-900 rounded-lg text-sm p-1.5 dark:hover:bg-green-600 dark:hover:text-white;
  }
  .close-popup-button {
    @apply py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
  }
  .confirm-popup-btn {
    @apply text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center;
  }
  .close-popup-icon {
    @apply absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white;
  }
  .confirm-alert {
    @apply bg-neutral-700 bg-opacity-50 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-full md:inset-0 max-h-full;
  }
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body::-webkit-scrollbar-track {
  display: none; /* hidden track scrollbar */
}

body::-webkit-scrollbar-thumb {
  display: none; /* hidden thumb scrollbar */
}
